* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.large-screens {
  display: none;
}

@media (min-width: 300px) {
  .large-screens {
    display: block;
  }

  .small-screens {
    display: none;
  }
}
